@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../fonts/NotoSansKR-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../fonts/NotoSansKR-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../fonts/NotoSansKR-Medium.woff2) format('woff2');
}
