@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../fonts/NotoSansKR-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../fonts/NotoSansKR-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../fonts/NotoSansKR-Medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../fonts/NotoSansKR-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans KR Black'), local('NotoSansKR-Black'), url(../fonts/NotoSansKR-Black.woff2) format('woff2');
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #2196f3;
	border: 0;
	border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
	background: #2196f3;
}
::-webkit-scrollbar-thumb:active {
	background: #2196f3;
}
::-webkit-scrollbar-track {
	background: #eee;
	border: 0;
	border-radius: 0;
}
::-webkit-scrollbar-track:hover {
	background: #eee;
}
::-webkit-scrollbar-track:active {
	background: #eee;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
